<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentFTP" version="49.0.1" targetFramework="net48" />
  <package id="Microsoft.VisualBasic" version="10.4.0-preview.18571.3" targetFramework="net48" />
  <package id="Microsoft-WindowsAPICodePack-Core-6.0" version="1.1.6" targetFramework="net48" />
  <package id="Microsoft-WindowsAPICodePack-Sensors-6.0" version="1.1.6" targetFramework="net48" />
  <package id="Microsoft-WindowsAPICodePack-Shell-6.0" version="1.1.6" targetFramework="net48" />
  <package id="Microsoft-WindowsAPICodePack-ShellExtensions-6.0" version="1.1.6" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="WinFormsToggleSwitch" version="1.1.0" targetFramework="net48" />
</packages>